<%= div_for question do %>
	<p>
		<%= question.description %>
	</p>
	<p>
		<%= form_for [question, @answer = Answer.new], :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
		  <div class="control-group">
		    <div class="controls">
		      <%= f.text_field :body, :class => 'text_field' %>
		    </div>
		  </div>
		  <br>
		  <div class="form-actions">
		    <%= f.submit "Submit answer", :class => 'btn btn-primary' %>
		  </div>
		<% end %>
	</p>
<% end %>