<%- model_class = Poll -%>
<div class="page-header">
  <h1><%=t '.title', :default => @poll.name %>
	<% if params[:id].to_i > 0 %>  |
	    <%= link_to "Public view", @poll.vanity_url %>
	<% end %>
  </h1>
</div>

<hr>
<% if params[:id].to_i > 0 %>
<div class="questions">	
	<%= render 'poll_maker_nav'%>
	
	<%= render :partial => 'questions/poll_maker_question', :collection => @poll.questions, :as => :question || 'No questions have been added yet!' %>
</div>
	<%= render 'questions/form' %>

<% else %>

	<%= render :partial => 'answers/form', :collection => @poll.questions, :as => :question || 'No questions have been added yet!' %>
	
<% end %>


